/* Add any global styles that can't be handled by Tailwind */
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100;300;400;500;600;700&display=swap');

html, body {
  scroll-behavior: smooth;
  font-family: 'SF Pro Display', 'Myriad Pro', 'Helvetica Neue', 'Gill Sans', Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', 'Myriad Pro', 'Helvetica Neue', 'Gill Sans', Arial, sans-serif;
  font-weight: 700;
}

.subheading {
  font-family: 'Gill Sans', 'SF Pro Display', 'Myriad Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #F1F5F9;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #F1F5F9;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 4px;
}